body
{
    font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-image: url('gray_grad.gif' );
    background-repeat: repeat-x;
}
.mainclass
{ 
    font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
}


.titleheading
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #990000;
    padding-top: 10px;
    text-transform: capitalize;
}
.contentheading {font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size:18px; color:#990000; padding-top:1px;}
.contentpaneopen {font-family:tahoma, arial, tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000; line-height:16px;}
.copyright {font-family:tahoma, arial, tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000; line-height:16px;}
.leftmenu
{
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #2f99c8;
       background-image: url('gray_grad.gif' );
         background-repeat: repeat-x;
         border-left-style:  none;
         
         }
.leftmenuitem
{
    padding: 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    list-style-image: url(    'bullet_dots.gif' );
    border-bottom-style: inset;
    border-bottom-width: thin;
    border-bottom-color: #C0C0C0;
}
.leftmenuitemcont
{
    padding: 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
}
.rightmenu
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #2f99c8;
    background-image: url('gray_grad.gif' );
    background-repeat: repeat-x;
    border-left-style:  none;

    }
.rightmenuitem
{
    padding: 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    list-style-image: none;
    border-bottom-style: inset;
    border-bottom-width: thin;
    border-bottom-color: #C0C0C0;
    list-style-type: square;
    list-style-position: outside;
}
a.menulink:link {
	font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #4e4545;
	text-decoration: none;
}
a.menulink:visited {
	font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #4e4545;
	text-decoration: none;
}
a.menulink:hover {
	font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #5e87c2;
	text-decoration: underline;
}
a.menulink:active {
	font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

