


@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-lig-webfont.eot');
    src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bol_0-webfont.eot');
    src: url('../fonts/lato-bol_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol_0-webfont.woff') format('woff'),
         url('../fonts/lato-bol_0-webfont.ttf') format('truetype'),
         url('../fonts/lato-bol_0-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



*{ margin:0; padding:0; }
img { outline:none !important; }
a{ text-decoration:none !important; }  
ul, ol{ list-style:none; display:inline; margin:0; }
ul li{ list-style:none; display:inline; }
h1,h2,h3,h4,h5,h6{ font-weight:normal !important; margin:0 !important; }
p{ padding:0; margin:0; } 

body { float:left; width:100%; }


.header-wrapper{ float:left; width:100%; background:#061f3b; }
.header{ float:left; width:100%; }

.header .header-l{ float:left; width:100%; }
.header .header-l .logo{ float:left; width:100%; margin-left:-16%;1 }






.header .header-r{ float:left; width:100%; }


.header .header-r ul.contact-detail{ float:right; width:58%;  }
.header .header-r ul.contact-detail li{ float:left; width:100%; background:url(../images/phone-img.png) 2px 2px no-repeat; padding:0px 0 0 40px; font-family: 'latolight'; font-size:13px; color:#fff; padding-bottom:6px; margin-top:10px;}
.header .header-r ul.contact-detail li a{ font-family: 'latobold'; font-size:13px; color:#fff; line-height:21px; margin:0px; }

.header .header-r ul.contact-detail li+li+li{ background:url(../images/contact-img.png) 2px 5px no-repeat; line-height:20px; border-top:1px solid #263c52; padding:5px 0 5px 40px; font-weight:bold; }
.header .header-r  ul.contact-detail li+li{ background:url(../images/cnt-img.png) 2px 5px no-repeat; border-top:1px solid #263c52; padding:5px 0 5px 40px; margin:0px; }
.header .header-r  ul.contact-detail li h6{  font-family: 'latolight'; font-size:13px; float:left; color:#fff; }
.header .header-r ul.contact-detail li h6 a{ color:#fff; float:left; width:100%; }

.banner-wrapper-main{ float:left; width:100%; }

.banner-img{ float:left; width:100%; border-bottom:1px solid #c9c6c6; }
.banner-img img{ width:100%; }



.events-wrapper{ float:left; width:100%; }
.events{ float:left; width:100%; margin-bottom:5px; }

.events .events-l{ float:left; width:100%; padding:10px 0 0 0px; }
.events ul.event-detail{ float:left; width:100%; }
.events ul.event-detail li{ float:left; width:100%; line-height:30px; padding:0; }
.events ul.event-detail li a{ float:left; font-family: 'latoregular'; font-size:16px;  padding-left:10px; color:#000; width:100%; }

.events ul.event-detail li:hover{ background:#00c4fd;}
.events ul.event-detail li:hover a{ background:#00c4fd; color:#fff; }
.events ul.event-detail li.current-menu-item a{ background:#00c4fd; color:#fff; }
.events ul.event-detail li+li{ border-top:1px solid #e6e6e6; }


.events .events-mid{ float:left; width:100%; padding-left:12%; background:url(../images/events-shadow-img.png) left center no-repeat; min-height:180px; }

.events h5{ font-family: 'latobold'; font-size:21px; color:#061f3b; margin:17px 0 8px !important; }
.events .events-mid p{  font-family: 'latolight'; font-size:14px; color:#000; margin-bottom:4px; }
.events .events-mid p span{ font-family: 'latobold'; }


.events .events-r{ float:left; width:100%; }
.events .events-r ul.event-detail li{ line-height:37px; }
.events .events-r ul.event-detail li a{ background:url(../images/events-r-bg.png) left 8px no-repeat; padding-left:32px; font-family: 'latobold'; font-size:14px; float:left; }

.events .events-r h5{ background:url(../images/event-img.png) right -1px no-repeat; padding-right:45px; float:left; line-height:30px; transition:0.3s; }

.events .events-r ul.event-detail li a:hover{ color:#fff; }


.gallary-wrapper{ float:left; width:100%; background:url(../images/gallary-bg.png) center top no-repeat #1c1c1c; }
.gallary{ float:left; width:100%; }
.gallary h1{ color:#f6f6e9; font-family: 'latobold'; font-size:22px; text-align:center; margin:38px 0 22px 0 !important; border-top:1px solid #f6f6e9; }
.gallary h1 span{ background: url("../images/gallary-header-bg.png") no-repeat scroll 0 14px rgba(0, 0, 0, 0); display: inline-block; float: none; margin-top: -30px; padding: 0 13px; }
.gallary ul.gallary-slider{ float:left; width:100%; margin-bottom:16px; }
.gallary ul.gallary-slider li{ float:left; width:23%; background:#fff; border:1px solid #575757; padding:8px; }
.gallary ul.gallary-slider li .gallary-slider-img{ float:left; width:100%; }
.gallary ul.gallary-slider li .gallary-slider-img{ float:left; width:100%; }
.gallary ul.gallary-slider li .gallary-slider-img img{ width:100%; max-height:159px;}

.gallary ul.gallary-slider li+li{ margin-left:24px; }


.content-bottom-wrapper{ float:left; width:100%; background:#00c4fd; }
.content-bottom{ float:left; width:100%; margin-bottom:30px; }
.content-bottom  .content-bottom-back{ float:left; background:#061f3b; width:100%; padding:0 0 30px 30px;  }

.content-bottom h5{ font-family: 'latobold'; font-size:22px; color:#100303; margin:24px 0 7px !important; }
.content-bottom p .chnge{  font-family: 'latolight'; font-size:15px; font-weight:bold; }
.content-bottom p{  font-family: 'latolight'; font-size:14px; color:#100303; margin-bottom:4px; }
.content-bottom p span{ font-family: 'latobold'; }
.content-bottom p span a{   color:#100303;  }
.content-bottom p span a:hover{ color:#fff;}
.content-bottom .content-bottom-l{ float:left; width:100%; } 
.content-bottom  .content-bottom-back h5{ font-family: 'latobold'; font-size:28px; color:#fff; margin:24px 0 7px !important; }
.content-bottom  .content-bottom-back p{  font-family: 'latolight'; font-size:16px; color:#fff; margin-bottom:4px; }
.content-bottom  .content-bottom-back p span{ font-family: 'latobold'; }
.content-bottom  .content-bottom-back p span a{   color:#fff;  }
.content-bottom  .content-bottom-back p span a:hover{ color:#00c4fd;}




.hall-bottom-l{ float:left; width:100%; }
.hall-bottom-l h5{ font-family: 'latobold'; font-size:20px; color:#100303; margin:10px 0 7px !important; }
.hall-bottom-l p{  font-family: 'latolight'; font-size:15px; color:#100303; margin-bottom:4px; }
.hall-bottom-l p span{ font-family: 'latobold'; }
.hall-bottom-l p span a{   color:#00c4fd;  }
.hall-bottom-l p span a:hover{ color:#100303;}






.footer-top-wrapper{ float:left; width:100%; background:url(../images/footer-top-bg.png) center top no-repeat #191919; }
.footer-top{ float:left; width:100%; margin:25px 0 19px; }

.footer-top .footer-top-l{ float:left; width:100%; }
.footer-top .footer-top-l .footer-top-img{ float:left; width:100%; padding:7px; background:#fff; }
.footer-top .footer-top-l .footer-top-img img{ width:100%; }

.footer-top .footer-top-r{ float:left; width:100%; margin-top:35px; }
.footer-top .footer-top-r h2{ color:#f4f4e7; font-family: 'latobold'; font-size:22px; }
.footer-top .footer-top-r p{ color:#f4f4e7; font-family: 'latolight'; font-size:16px; margin:6px 0 9px 0; }

.footer-top .footer-top-r h2 a{ color:#f4f4e7; }
.footer-top .footer-top-r h2 a:hover{ color:#00c4fd;}
.footer-top .footer-top-r p a{ color:#f4f4e7; }
.footer-top .footer-top-r p a:hover{ color:#00c4fd;}


.footer-top .footer-top-r ul.links{ float:left; width:100%; border-top:1px solid #484845; padding-top:11px; }
.footer-top .footer-top-r ul.links li{ float:left; width:100%; color:#f4f4e7; font-family: 'latolight'; font-size:16px; background:url(../images/links-li-bg.png) left 5px no-repeat; padding-left:19px; margin-bottom:5px; }


.footer-wrapper{ float:left; width:100%; border-top:1px solid #383838; background:url(../images/footer-bg.png) center top repeat; } 
.footer{ float:left; width:100%; } 
.footer p{ color:#f6f6e9; font-family: 'latolight'; font-size:16px; line-height:65px; text-align:center; }


 /*-----------------------------------5-1-2015------------------------------*/

 .banner-wrapper{margin: 0 auto; max-width: 1349px;  position: relative; width: 100%;}

.banner-inner-img { float: left; width: 100%; }
.banner-inner-img img{ width: 100%; }

.banner-strip { background: none repeat scroll 0 0 #000; bottom: 2px; float: left; left: 0; line-height: 63px; margin: 0 0 0 11.8%; position: absolute; width: 95.6%; z-index: 9; }
.event-menu{ float:left; width:100%; list-style:none; padding:0 0 0 4%; }
.event-menu li{ float:left; }
.event-menu li a{ float:left; color:#fff; font-size:16px;  font-family: 'latolight'; background:url(../images/arrow-img.png) right 30px no-repeat; padding-right:10px;  }
.event-menu li span{ font-family: 'latobold'; color:#64c5e3;}
.event-menu li +li{ margin-left:7px; }

.sunday-r{ float:right; width:100%; padding:23px 0 0 14px; background:url(../images/events-shadow-img.png) left 15px no-repeat; }
.sunday-r-1{ float:right; width:100%; padding:23px 0 0 14px; background:url(../images/events-shadow-img.png) left 15px no-repeat; min-height:180px; }
.sunday-r-2{ float:right; width:100%; padding:23px 0 0 14px; background:url(../images/events-shadow-img.png) left 15px no-repeat; }
.sunday-r-2 h1{ float:left; width:100%; font-family: 'latobold'; font-size:22px; color:#061f3b;  padding:0 0 0 35px;}
.sunday-r h1{ float:left; width:100%; font-family: 'latobold'; font-size:22px; color:#061f3b; }

.sunday-r-1 h1{ float:left; width:100%; font-family: 'latobold'; font-size:22px; color:#061f3b; }
.sunday-r-1 h4{ float:left; width:100%; font-family: 'latobold'; font-size:20px; color:#100303;  padding:5px 0 0 30px; }
.sunday-r h3{ float:left;  width:100%; font-family: 'latobold'; font-size:14px; color:#100303; padding:13px 0; line-height:20px; font-weight:bold; }
.sunday-r p{ float:left; width:100%; text-align:justify;  font-family: 'latolight'; font-size:14px; padding:0 0 21px 0;}
 p.para-change{ float:left; width:100%; text-align:justify;  font-family: 'latolight'; font-size:14px; padding:0 0 33px 0;}
.sunday-r h2{ float:left; font-family: 'latobold'; font-size:14px; color:#111111; padding:0 0 12px 0;}
 p .col-effect{color:#767676;}
 .grade{float:left; width:100%; list-style:none; padding:22px 0 15px 0;}
 .grade li{ float:left; width:40%;}
  .grade li+li{ margin-left:5%;}
 .grade li .grade-01{ float:left; width:100%; list-style:none;}
 .grade li .grade-01 li{ float:left; width:100%; border-bottom:1px solid  #eaeaea; padding:0 0 3px 0; }
  .grade li .grade-01 li+li{ margin:0px;}
 .grade li .grade-01 li a{ float:left; color:#000; font-size:16px; font-family: 'latoregular'; transition:0.3s; }
  .grade li .grade-01 li a:hover{ color:#00c4fd; } 
 .grade li .grade-01 li:last-child a{ border:none;}
 .footer-wrapper-1{ background:#180f0f; float:left; width:100%;}
 
 
 
 
 .contact{ float:right; width:100%; padding:23px 0 53px 14px; background:url(../images/events-shadow-img.png) left 15px no-repeat;  }
 .contact h2{ float:left; width:100%; font-family: 'latobold'; font-size:20px; color:#061f3b;}
 .contact h1{ float:left; width:100%; font-family: 'latobold'; font-size:22px; color:#061f3b; padding-bottom:10px;}
 .contact-para{ float:left; padding:15px 0 0 0; width:90%;}
  .contact-para p{ float:left; width:100%; font-family: 'latolight'; font-size:14px; color:#100303; line-height:18px;} 
 
 .contact-service{ float:left; width:100%; list-style:none; padding:20px 0; border-bottom:1px solid #d8d8d2;}
 .contact-service li{float:left; width:50%;}
 .contact-service li .contact-service-01{ float:left; width:100%; list-style:none;}
 
  .contact-service li .contact-service-01 li { float:left; width:100%; font-family: 'latolight'; font-size:14px; color:#100303; line-height:18px; padding:0 0 10px 20px; background:url(../images/bullets.png) 0 4px no-repeat;}
  
  .parise-img{ float:left; width:100%; padding:10px 0 0 0;}
  .parise-img img{ width:100%;}
  .contact-form{ float:left; width:100%; padding:32px 0 0 0;}
  .contact-form h1{ float:left; width:100%; font-family: 'latobold'; font-size:22px; color:#061f3b;}
  .contact-form-01{ float:left; width:100%; list-style:none; padding:21px 0 0 0;} 
  .contact-form-01 li{ float:left; width:100%; padding:0 0 26px 0; }
  .contact-form-01 li input[type=text]{ float:left; width:100%; color:#b2b2b2; font-family: 'latobold'; font-size:14px; line-height:32px; border:1px solid #bdbdb4; padding:0 10px;}
    .contact-form-01 li textarea{  float:left; width:100%; color:#b2b2b2; font-family: 'latobold'; font-size:14px; height:131px; border:1px solid #bdbdb4; padding:0 10px; overflow:auto; resize:none;}
	 .contact-form-01 li  input[type=submit]{ float:left; width:100%; text-align:center; background:#00c4fd; color:#000; font-family: 'latobold'; font-size:19px; line-height:33px; border:1px solid #bdbdb4;}
	 
.contact-gallary-wrapper{ float:left; width:100%; background:#191919 url(../images/contact-gallery.png) center center no-repeat;} 
  
/*---------------------------------------------------------------------------------------*/
.contact-gallary{ float:left; width:100%; }
.contact-gallary h1{ color:#f6f6e9; font-family: 'latobold'; font-size:20px; text-align:center; margin:38px 0 22px 0 !important; border-top:1px solid #f6f6e9; }
.contact-gallary h1 span{ display: inline-block; float: none; margin-top: -30px; padding: 0 13px;  background:#000; }
.contact-gallary ul.contact-slider{ float:left; width:100%; margin-bottom:16px; }
.contact-gallary ul.contact-slider li{ float:left; width:23%; }
.contact-gallary ul.contact-slider li .contact-slider-img{ float:left; width:100%; background:#fff; border:1px solid #575757; padding:8px;  }

.contact-gallary ul.contact-slider li+li{ margin-left:24px; }


.events .our-church-content{ float:left; width:100%; padding:0 0 0 49px;}
.events .our-church-content p { color: #000; font-family: "latolight"; font-size: 14px; margin-bottom: 10px; text-align:justify; }


/*----------------------------------slider start--------------------------------*/

.gallary .slider-02{ width:100% !important; float:left !important; margin-left:0 !important;  margin-top:10px !important; }
.gallary .slider_box{ float:left; padding:0; width:100%; position:relative; }
ul.slider{ float:left; margin-top:7px; list-style:none; position:relative; top:0px; left:0px; overflow:hidden;}
ul.slider li{ float:left; width:264px !important; padding:0; margin-left:20px; background:url(../images/coursal-shadwo.png) center bottom no-repeat; padding-bottom:13px; position:relative; }
.jcarousel-container{position:relative;left:0px; top:0px; margin:0px; display:block !important;}
 .jcarousel-clip{ overflow:hidden; position:relative; z-index:2; width:1150px !important; margin:auto; min-height:180px; }
.jcarousel-item{float:left; list-style:none;}
.gallary .jcarousel-prev,.jcarousel-next{z-index:3; display:none;}
.gallary .jcarousel-prev,.jcarousel-next{ position:absolute; top:70px; left:0px; background:url(../images/left-arrow.png) 0 0 no-repeat; width:40px; height:40px; cursor:pointer;}
.gallary .jcarousel-prev{ left:-30px ;  }
.gallary .jcarousel-next{background:url(../images/right-arrow.png)  0 0 no-repeat; left:auto; right:-59px;  top:70px;}


.services-tab .tab{ float:left; position:relative; width:100%; }
.services-tab .tab .tab-img{ float:left; width:100%; }
.services-tab .tab h2{ text-align:center; line-height:40px; position:absolute; left:0; bottom:0; background:url(../images/tab-header-bg-img.jpg) center top repeat; font-family: 'oswaldbook'; font-size:17px; width:100%; border-radius:8px; }



.contact-gallary .slider-03{ width:100% !important; float:left !important; margin-left:0 !important;  margin-top:10px !important; }
.contact-gallary .slider_box{ float:left; padding:0; width:100%; position:relative; }
ul.slider{ float:left; margin-top:7px; list-style:none; position:relative; top:0px; left:0px; overflow:hidden;}
ul.slider li{ float:left; width:264px !important; padding:0; margin-left:20px; background:url(../images/coursal-shadwo.png) center bottom no-repeat; padding-bottom:13px; position:relative; }
.jcarousel-container{position:relative;left:0px; top:0px; margin:0px; display:block !important;}
.jcarousel-clip{ overflow:hidden; position:relative; z-index:2; width:1150px !important; margin:auto; min-height:180px; }
.jcarousel-item{float:left; list-style:none;}
.contact-gallary .jcarousel-prev,.jcarousel-next{z-index:3; display:none;}
.contact-gallary .jcarousel-prev,.jcarousel-next{ position:absolute; top:70px; left:0px; background:url(../images/left-arrow.png) 0 0 no-repeat; width:40px; height:40px; cursor:pointer;}
.contact-gallary .jcarousel-prev{ left:0 ; left:-30px; }
.contact-gallary .jcarousel-next{background:url(../images/right-arrow.png)  0 0 no-repeat; left:auto; right:-59px; }



.contact-slider-img img { width: 100%; }








/*----------------------------------slider end--------------------------------*/




@media (min-width:1200px) and (max-width:1399px){


.banner-wrapper{ min-width:inherit; }




}

@media (min-width:992px) and (max-width:1199px){
	
	.header .header-l .logo img{ width:100%; }
.header .header-r h6{ width:40%; margin-left:0 !important; }
.header .header-r ul.contact-detail { width: 60%; }
.header .header-r ul.contact-detail li{ font-size:16px; }
.header .header-r ul.contact-detail li a{ font-size:18px; }
.events h5{ font-size:19px; }
.events .events-r ul.event-detail li a{ font-size:13px; }
.footer-top .footer-top-r h2{ font-size:19px; }
.banner-wrapper{ min-width:inherit; }
.jcarousel-clip{ width:880px !important; }
.jcarousel-prev{ left:0; }
.jcarousel-next{ right:0 ;}



.events ul.event-detail li a{ font-size:15px; }
.event-menu{ padding:0 0 0 4%;}

.banner-strip { background: none repeat scroll 0 0 #000; bottom: 2px; float: left; left: 0; line-height: 63px; margin: 0 0 0 16.4%; position: absolute; width: 84.2%; z-index: 9; }


.contact-gallary .jcarousel-prev{ left:0px;}
.contact-gallary .jcarousel-next{right:0px;}
.gallary .jcarousel-clip{ left:-19px;}
.gallary .jcarousel-next{ right:-19px;}

}

@media (min-width:768px) and (max-width:991px){

	.header .header-l .logo img{ width:100%; }

.header .header-r ul.contact-detail { width: 60%; }
.header .header-r ul.contact-detail li{ font-size:16px; }
.header .header-r ul.contact-detail li a{ font-size:18px; }
.events h5{ font-size:19px; }
.events .events-r ul.event-detail li a{ font-size:13px; }
.footer-top .footer-top-r h2{ font-size:19px; }
.banner-wrapper{ min-width:inherit; }

.events ul.event-detail li a{ font-size:15px; background: url("../images/events-detail-li-bg.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0); }
.events ul.event-detail li:hover a{ background:url(../images/event-hover.png) 10px 10px no-repeat #00c4fd; color:#fff; }
.events ul.event-detail li.current-menu-item a{ background:url(../images/event-hover.png) 10px 10px no-repeat #00c4fd; color:#fff; }

.events ul.event-detail li+li{ border-top:1px solid #e6e6e6; }



.events .events-r h5{ line-height:22px; }
.events .events-r ul.event-detail li{ line-height:20px; }

.jcarousel-clip{ width:595px !important; }
.jcarousel-prev{ left:0; }
.jcarousel-next{ right:0 ;}

.banner-wrapper-main{ background:#000; }
.banner-strip { background: none ; left: 18%; line-height: 30px; margin: 0; position: absolute; width: auto; }
.event-menu li a { background: url("../images/arrow-img.png") no-repeat scroll right center rgba(0, 0, 0, 0); }

.header .header-r ul.contact-detail li + li { background: url("../images/cnt-img.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0); line-height: 24px; padding: 5px 0 0 60px;} 
.header .header-r ul.contact-detail li + li+li { background: url("../images/contact-img.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0); line-height: 24px; padding: 5px 0 0 60px; }
.header .header-r ul.contact-detail li { background: url("../images/phone-img.png") no-repeat scroll 10px 3px rgba(0, 0, 0, 0); padding-left: 60px; font-size:13px; }

.contact-gallary .jcarousel-prev{ left:0px;}
.contact-gallary .jcarousel-next{ right:0px;}
.events .our-church-content{ padding:0 0 0 35px;}
.sunday-r-2 h1{ padding:0 0 0 18px;}

.content-bottom h5{ font-size:23px;}
.content-bottom p{ font-size:14px;}
.content-bottom .content-bottom-back{ padding-left:18px;}
.content-bottom .content-bottom-back p{ font-size:14px;}
.gallary .jcarousel-clip{ left:0px;}
.gallary .jcarousel-next{ right:0px;}

}

@media (max-width:767px){
		
	
	.header .header-l .logo{ margin:0 0 0 -6%; text-align:center; } 
	.header .header-r h6{ width:34%; }
	.header .header-r ul.contact-detail{ width:60%; }
	.header .header-r ul.contact-detail li{ font-size:13px; }
.header .header-r ul.contact-detail li a{ font-size:13px; }
.events h5{ font-size:19px; }

.footer-top .footer-top-r h2{ font-size:19px; }
.banner-wrapper{ min-width:inherit; }

.events .events-r h5{ line-height:30px; }
.events .events-r ul.event-detail li{ line-height:30px; }
.events .events-mid{ background:none; padding:0; min-height:inherit; margin:20px 0; }

 

.events .events-r ul.event-detail li a { font-size: 14px; background: url("../images/events-r-bg.png") no-repeat scroll left 5px rgba(0, 0, 0, 0); }
.header .header-r{ margin-bottom:15px; }
.jcarousel-clip{ width:595px !important; }
.jcarousel-prev{ left:0; }
.jcarousel-next{ right:0 ;}
.gallary .jcarousel-prev{ left:0px;}
.gallary .jcarousel-next{ right:0px ;}


/*.events ul.event-detail li a{ background: url("../images/events-detail-li-bg.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0); }
.events ul.event-detail li:hover a{ background:url(../images/event-hover.png) 10px 10px no-repeat #00c4fd; color:#fff; }
.events ul.event-detail li.current-menu-item a{ background:url(../images/event-hover.png) 10px 10px no-repeat #00c4fd; }

*/
.sunday-r{ background:none; }


.banner-wrapper-main{ background:#000; }
.banner-strip { background: none ; left: 18%; line-height: 30px; margin: 0; position: absolute; width: auto; }

.event-menu li a { background: url("../images/arrow-img.png") no-repeat scroll right 13px rgba(0, 0, 0, 0); }
.contact-gallary .jcarousel-prev{ left:-14px;}
.contact-gallary .jcarousel-next{ right:-14px;}

.events .our-church-content{ margin-top:20px; padding:0 0 0 15px; }
.sunday-r-2 h1{padding:0px;}
.content-bottom h5{ font-size:26px;}
.content-bottom .content-bottom-back{ padding-left:0px;}
.content-bottom .content-bottom-l{ padding:0 0 30px 18px;}


}


@media (max-width:640px){
	
.header .header-l .logo img{ width:100%; margin:0; }
.header .header-r h6{ width:100%; line-height:40px; margin:0 !important; }
	.header .header-r ul.contact-detail{ width:100%; margin-top:20px; }
	.footer p { font-size: 15px; line-height: 22px; padding: 20px 0; }

.jcarousel-clip{ width:305px !important; }

	.banner-strip { line-height: 20px; }
	
	.event-menu li a { background: url("../images/arrow-img.png") no-repeat scroll right 10px rgba(0, 0, 0, 0); }
	.contact-service li{ float:left; width:100%;}
	.contact h1{ font-size:19px;}
	.contact-gallary h1{ font-size:19px;}
	.content-bottom h5{ font-size:24px;}
	.content-bottom p{ font-size:15px;}
	
}

@media (max-width:480px){
	
	.events .events-r ul.event-detail li { line-height: 18px; }
	.header .header-r h6{ line-height:30px; }
	.footer-top .footer-top-r ul.links li{ font-size:14px; }
	.footer p{ font-size:14px; }
	
	.gallary h1 span { background: url("../images/gallary-header-bg.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0); }
	
	.banner-strip{ position:static; float:left; width:100%; background:#000; line-height:40px; }
		.event-menu li a { background: url("../images/arrow-img.png") no-repeat scroll right 18px rgba(0, 0, 0, 0); }
		.contact h1{ font-size:18px;}
		.contact-para p{ font-size:13px;}
		.contact-service li .contact-service-01 li{ font-size:13px;}
		.contact-gallary h1{ font-size:17px;}
}

@media (max-width:360px){

.footer-top .footer-top-r h2{ font-size:17px; }
.contact h1{ font-size:16px;}
.content-bottom h5{ font-size:22px;}
	.content-bottom p{ font-size:14px;}

}



.marquee1 {
  height: 140px;
  overflow:auto;
}

